@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body_background_color: #eef2f5;
    --primary_color: #09425a;
    --Secondary_color: #36a693;
    --primary_light: #2e6881;
    --primary_dark: #022f42;
    --priamry_shad1: #19546e;
    --secondary_light: #59c1af;
    --secondary_dark: #0a7c69;
    --secondary_shad1: #8bdcce;
    --card_background_color: rgba(242, 250, 255, 0.7);
    --drop_shadow: 0 0 16px rgba(95 95 95 / 15%);
}

::selection {
    color: white;
    background-color: var(--Secondary_color);
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Rubik', sans-serif;
}

html {
    background-color: var(--body_background_color);
}

body {
    background-color: var(--body_background_color);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.row{
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}


/* ////////////////////////////////////////// */

.device-section{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.devices-portion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.devices-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 1rem;
}

.devices-btn{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

a.btn{
    padding: 0.5rem 2rem;
    background-color: var(--card_background_color);
    text-decoration: none;
    color: #022f42;
    border-radius: 50px;
    width: max-content;
}
a.btn:hover{
    background-color: var(--secondary_light);
    color: #eef2f5;
}
.devices-card{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    flex: 1;
    width: 100%;
}
.device-img{
    display: flex;
    justify-content: center;
    background-color: var(--secondary_shad1);
    padding: 1rem;
    border-radius: 0.5rem;
    height: 267px;
    width: 250px;
}

.device{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--card_background_color);
}

.device-price{
    display: flex;
    gap: 1rem;
}

.price{
    background-color: #E5EDF2;
    padding: 0.1rem 0.4rem;
    border-radius: 2px;
}



/* ////////////////////////////////////////////////////// */

@media (min-width: 320px) {
    .container {
        max-width: 360px;
    }
        .col{
            flex-basis: 100%;
        }
        .device-img{
            height: 267px;
            width: 100%;
        }
    }
@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
    .col{
        flex-basis: 45%;
    }
    .device-img{
        height: 267px;
        width: 230px;
    }

}
@media (min-width: 768px) {
.container {
    max-width: 720px;
}
    .col{
        flex-basis: 38%;
    }


    .device-img{
        height: 267px;
        width: 250px;
    }

}
@media (min-width: 992px) {
.container {
    max-width: 970px;
}
    .col{
        flex-basis: 28%;
    }
    .device-img{
        height: 267px;
        width: 250px;
    }

}
@media (min-width: 1200px) {
.container {
    max-width: 1170px;
}
    .col{
        flex-basis: 23.7%;
    }
    .device-img{
        height: 267px;
        width: 250px;
    }

}